* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'calibri', sans-serif;
    background-color: rgb(0, 0, 0);
}

main{
    width: 900px;
    background-color: aliceblue;
    border-radius: 15px;
    margin: 40px auto;
    padding: 20px 30px;
    position: relative;
}

.desk {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid;
    padding: 4px;
}
td:nth-child(2){
    font-weight: 200;
    color: rgb(87, 69, 69);
} 

.search input{
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #140909;
}
.search button{
    background-color: rgb(88, 88, 88);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: .3s;
}

.search button:hover{
    background-color: #3f4146;
}

.search button:active{
    background-color: #4e4e4e;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}